@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NanumSquareNeo';
  font-weight: 400;
  font-style: normal;
  src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.eot');
  src: url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.eot?#iefix')
      format('embedded-opentype'),
    url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.woff2')
      format('woff2'),
    url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.woff')
      format('woff'),
    url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo-bRg.ttf')
      format('truetype');
  font-display: swap;
}
